body {
  background: rgb(255, 255, 255);
  font-weight: 100;
  font-size: 14px;
  text-align: center;
  position:relative;
  top:10px;
}

.title{
  /***  CSS Text and Font  ***/
  font-family:'Tahoma',sans-serif;
  font-size:24px;
}

.number{
  text-align: center;
  width:100px;
  height:60px;
  font-family:'Tahoma',sans-serif;
  font-size:38px;
  border:0px;
}

.btn {
  top:-12px;
  font-size:18px;
  -webkit-tap-highlight-color: rgb(187, 189, 191);
  -webkit-border-radius:50px;
  border-radius:50px;
  width:80px;
  height:60px;
  color:rgb(255, 255, 255);
  background-color: #4285f4;
  position:relative;
}
.btn:active {
  background-color: #0039A8;
}

.btn:hover {
  background-color: #296CDB;
}

.btn:focus {
  background-color: #0F52C1;

  /* The outline parameter surpresses the border
  color / outline when focused */
  outline: 0;
}
