body {
  background: rgb(255, 255, 255);
  font-weight: 100;
  font-size: 14px;
  text-align: center;
  position:relative;
  top:10px;
}

.title{
  /***  CSS Text and Font  ***/
  font-family:'Tahoma',sans-serif;
  font-size:24px;
}

.number{
  text-align: center;
  width:100px;
  height:60px;
  font-family:'Tahoma',sans-serif;
  font-size:38px;
  border:0px;
}

.btn{
  width:80px;
  height:60px;
  border-radius:50px;
  -webkit-border-radius:50px;
  position:relative;
  top:-12px;
  font-size:18px;

}

.btn:hover {

}

.btn:focus {
  outline: none;
}

