body {
  background: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: 100;
  font-size: 10px;
  text-align: center;
  position:relative;
  top:10px;
}

.title{
  /***  CSS Text and Font  ***/
  font-family:'Tahoma',sans-serif;
  font-size:24px;
}

.number{
  text-align: center;
  width:65px;
  height:60px;
  font-family:'Tahoma',sans-serif;
  font-size:38px;
  border:0px;
}

.btn{
  /***  CSS Box Model  ***/
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width:80px;
  height:60px;
  position:relative;
  top:-12px;
}
.btn:focus {
  outline: none;
}

.btn:hover {
  color: #fff !important;
  text-decoration: none;
  }

  .btn:active {
    border-style: outset;
  }
