.well{
    text-align:center;
  }
  .number{
   /***  CSS Position  ***/
   position:relative;

   /***  CSS Box Model  ***/
   width:100px;
   height:60px;
   margin:5px;
   margin-top:10px;
   margin-bottom:10px;
   margin-left:10px;
   margin-right:10px;
 
   /***  CSS Text and Font  ***/
   font-family:'Tahoma',sans-serif;
   font-size:48px;
   color:rgb(142, 136, 146);
   text-align:center;
   word-spacing:normal;

  
  }

  .button{
    /***  CSS Text and Font  ***/
    font-family:'Tahoma',sans-serif;
    font-size:38px;
    text-align:center;
  
  }
  